@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form method="post">
    <center>
        <div class="ui icon message" style="width:60%">
            <i class="lock icon"></i>
            <div class="content">
                <div class="header">
                    @ViewBag.Filenames
                </div>
                <p>Required Password To Download</p>
            </div>
        </div>
    </center>
    <div class="form-group">
        <label for="text">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <input id="text" name="filepass" type="password" class="form-control" autocomplete="new-password">
        </div>
    </div>
    <input type="hidden" name="Blob" value="@ViewBag.Blob" />
    <input type="hidden" name="Token" value="@ViewBag.Token" />
    <input type="hidden" name="id" value="@ViewBag.Id" />
    <div class="form-group">
        <center>
            <button name="submit" type="submit" class="btn btn-primary" asp-controller="Share" asp-action="Download">Submit</button>
        </center>
    </div>
</form>
