@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<center>
    <div class="alert alert-danger" role="alert" style="width:40%;font-size:x-large">
        <b>Password Incorrect</b>
        <br />
        Forgot Password <a>Click Here</a>
    </div>
</center>