@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel=" stylesheet" href="~/css/Loading.css" />
<script src="~/js/Upload.js" > </script>
<center>
    <h1>Upload Files</h1>
</center>
<br />
<br />
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data" style="font-size:large">
        <div class="mb-3">
            <center>
                <div>
                    <label for="Files" class="form-label">File Input(maximum 2.1GB)</label>
                    <input class="" type="file" id="Files" name="Files" multiple required onchange="ShowFile()">
                </div>
            </center>
        </div>
        <br />
        <br />
        <div class="form-group row">
            <label class="col-4">Storage Type</label>
            <div class="col-8">
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="Storage" id="Storage_0" type="radio" checked class="custom-control-input" value="0">
                    <label for="Storage_0" class="custom-control-label">Files</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input name="Storage" id="Storage_1" type="radio" class="custom-control-input" value="1">
                    <label for="Storage_1" class="custom-control-label">Blobs</label>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group row">
            <div class="col-8">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input name="checkbox" id="checkbox_0" type="checkbox" class="custom-control-input" value="rabbit" onchange="showpass()">
                    <label for="checkbox_0" class="custom-control-label">Password Encryption(Optional)</label>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group row" id="PSD" style="display:none">
            <label for="text" class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input id="pass" name="pass" type="password" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="textarea" class="col-4 col-form-label">Details</label>
            <div class="col-8">
                <textarea name="com" id="textarea" cols="40" rows="5" class="form-control"></textarea>
            </div>
        </div>
        <br />
        <h2>Filelist</h2>
        <hr />
        <div>
            <table class="table table table-bordered" style="text-align:center" id="Filelist">
                <thead class="bg-warning">
                    <tr>
                        <th>Filenames</th>
                        <th>File Type</th>
                        <th>FileSize</th>
                    </tr>
                </thead>
                <tbody id="Tablebody" class="table-danger"></tbody>
            </table>
        </div>
        <div id="Total"></div>
        <div>
            <center>
                <button type="submit" id="S01" class="btn btn-outline-primary" formaction="Uploads" onclick="Submitted()" disabled>Submit</button>
            </center>
        </div>

    </form>
</div>


<div class="modal fade" id="Subbmitted" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uploading</h5>
            </div>
            <div class="modal-body">
                <center>
                    <div class="loader"></div>
                    <br />
                    <br />
                  <h1><b>File Uploading...</b></h1>  
                </center>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>



