@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">File Center</h1>
    
</div>
<br />
<div class="ui three column grid">
    <div class="column ">
        <div class="ui segment bg-primary">
           <h1><b>Total Users</b></h1> 
            <div style="text-align: right; font-size: x-large; font-weight: bold">0</div>
        </div>

    </div>
    <div class="column ">
        <div class="ui segment bg-danger">
            <h1><b>Total Files</b></h1>
            <div style="text-align: right; font-size: x-large; font-weight: bold">0</div>
        </div>

    </div>
    <div class="column ">
        <div class="ui segment bg-success">
            <h1><b>Total Blob</b></h1>
            <div style="text-align:right;font-size:x-large;font-weight:bold">0</div>
        </div>

    </div>
</div>
