@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Restrict";
}
<center>
    <div style="width:50%">
        <div class="alert alert-danger" role="alert">
            <h1>Restricted Content</h1>  

        </div>

    </div>
</center>
