@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int Mode = ViewBag.Mode;
}

<center>
    <h1><b>Adminstrative Monitoring</b></h1>
</center>
<br />
<div class="ui menu inverted segment">
    <div class="header item">
        Adminstrative Tools
    </div>
    <a class="@(Mode == 1 ? @"item active" :@"item")" href="/user/Admin/users">
        Users
    </a>
    <a class="@(Mode == 2 ? @"item active" :@"item")" href="/user/Admin/history">
        History
    </a>
    <a class="@(Mode == 3 ? @"item active" :@"item")" href="/user/Admin/Uploads">
        All Files
    </a>
    <a class="@(Mode == 4 ? @"item active" :@"item")" href="/user/Admin/Sessions">
        Sessions
    </a>
</div>
<div id="D1" style="display:block">
    @if (Mode == 1)
    {
        <partial name="Admin/Users" />
    }
    else if (Mode == 2)
    {
        <partial name="Admin/History" />
    }
    else if (Mode == 3)
    {
        <partial name="Admin/Uploads" />
    }
    else if (Mode == 4)
    {
        <partial name="Admin/Sessions" />
    }
</div>
