@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DataTable data = ViewBag.user;
    List<string> User = new List<string>();
    List<string> Email = new List<string>();
    foreach(DataRow row in data.Rows)
    {
        User.Add(row[0].ToString());
        Email.Add(row[1].ToString());

    }
    var datalength = data.Rows.Count;
}
@using System.Data;
<center>
    <form style="width:80%" method="post" id="formContent">
       
        <div>
            <h1>User Register</h1>
            <br />
        </div>
        <div class="form-group row">
            <label for="text" class="col-2 col-form-label">Username</label>
            <div class="col-10">
                <input id="username" name="username" type="text" class="form-control" required onchange="">
            </div>
            <div class="col-10" style="display: none" id="user_dup">
                <small style="color:red">Duplicate Username</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="pass" class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <input id="pass" name="pass" type="password" class="form-control" value="" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="ret" class="col-2 col-form-label">Retype Password</label>
            <div class="col-10">
                <input id="ret" name="ret" type="password" class="form-control" value="" onchange="passcheck()" required>
            </div>
            <div class="col-10" style="display: none" id="ms1">
                <small style="color:red">Confirm Password Incorrect</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="Email" class="col-2 col-form-label">Firstname</label>
            <div class="col-10">
                <input id="Fn" name="Fn" type="text" class="form-control" required="required">
            </div>
        </div>

        <div class="form-group row">
            <label for="Email" class="col-2 col-form-label">Lastname</label>
            <div class="col-10">
                <input id="Ln" name="Ln" type="text" class="form-control" required="required">
            </div>
        </div>

        <div class="form-group row">
            <label for="Gender" class="col-2 col-form-label">Gender</label>
            <div class="col-10">
                <select id="Gender" name="Gender" required="required" class="custom-select">
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="BR" class="col-2 col-form-label">BrithDay</label>
            <div class="col-10">
                <input id="BR" name="BR" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="Email" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input id="Email" name="Email" type="email" class="form-control" required="required" onchange="">
            </div>
            <div class="col-10" style="display: none" id="Email_dup">
                <small style="color:red">Duplicate Email</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-2 col-10">
                <button name="submit" type="submit" class="btn btn-primary" id="Sub01" formaction="register">Register</button>
            </div>
        </div>
        <script>
            let Username = [];
            let Email = [];
           @foreach(var i in User)
            {
               @:Username.push("@i");
            }
            @foreach(var i in Email)
            {
               @:Email.push("@i");
            }
           function passcheck() {
                var i = document.getElementById('pass').value;
                var j = document.getElementById('ret').value;
                if (i === j) {
                    document.getElementById('ms1').style.display = " none";
                    document.getElementById('Sub01').disabled = false;
                }
                else {
                    document.getElementById('ms1').style.display = " block";
                    document.getElementById('Sub01').disabled = true;
                }
            }
         /*   function Usercheck() {
                let t = false;
                var value = document.getElementById("username")
                for (i = 0; i < Username.length; i++) {
                    if (value === Username[i]) {
                        t = true;
                        break;
                    }
                }
                if (t) {
                    document.getElementById('user_dup').style.display = " none";
                    document.getElementById('Sub01').disabled = false;
                }
                else {
                    document.getElementById('user_dup').style.display = " block";
                    document.getElementById('Sub01').disabled = true;
                }
                console.log(t);
            }
            function Emailcheck() {
                let t = false;
                var value = document.getElementById("Email")
                for (i = 0; i < Username.length; i++) {
                    if (value === Username[i]) {
                        t = true;
                        break;
                    }
                }
                if (t) {
                    document.getElementById('Email_dup').style.display = " none";
                    document.getElementById('Sub01').disabled = false;
                }
                else {
                    document.getElementById('Email_dup').style.display = " block";
                    document.getElementById('Sub01').disabled = true;
                }
                console.log(t);
            }*/
        </script>
    </form>
</center>

